AE_v1.mp4
Audio Movement_f.mp4
Implementation.docx
Interface2 copy_updated.pdf
Interface2_12-15.pdf
Interface2_Opening page.pdf
Interview Questions - Audio Movement.docx
Interview Questions.docx
Interview Results.docx
Metropolitan Teaching Service.pptx
OVERVIEW _ PROGRESS.docx
Screen Shot 2017-10-26 at 10.11.50 AM.png
Use Cases_.docx
Video Script _ Storyboard.docx